@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
/* -------- banar area -------- */
.banar_area {
  background-image: url("../images/Banner_Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 50px;
}
.banar_overlay,
.overlay {
  background-color: #0202026e;
  border-radius: 16px;
}
.banar_content {
  text-align: center;
  width: 632px;
  margin: 0 auto;
  padding-bottom: 177px;
}

.banar_content h4 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
  padding-top: 177px;
}
.banar_content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* ---------- end banar area -------- */
/* ----------- offer area --------- */
.offer_content {
  text-align: center;
}

.offer_area {
  margin: 120px 0;
}

.offer_content h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer_content p {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer_content h3 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
/* ------------ end offer area ----------- */
/* ------------ welcome area ---------- */
.welcome_area {
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.welcome_area img {
  padding-right: 100px;
}
.welcome_text {
  padding: 126px;
  width: 695px;
}
.welcome_text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  margin-bottom: 24px;
}
.welcome_text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.welcome_text button {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: none;
  margin-bottom: 50px;
  padding: 16px;
  transition: ease-in .5s;
  cursor: pointer;
  border-radius: 16px;
}
.welcome_text button:hover{
  color: #fff;
  background-color: #f00;
  border-radius: 16px;
  padding: 16px;
}
/* ---------- end welcome area-------- */
/* ---------- party place ---------- */
.party_place {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0;
  margin-top: 120px;
}
.party_place_text {
  text-align: center;
}
.party_place_text h5 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.party_place_text span {
  color: #f00;
}
.party_place_text button {
	color: #fff;
	padding: 16px 32px;
	border-radius: 8px;
	border: none;
	background-color: #f00;
	margin-top: 48px;
	cursor: pointer;
	transition: ease-in .5s;
}
.party_place_text button:hover{
  background-color: rgb(80, 2, 2);
  border-radius: 8px;
  color: #fff;
}
/* ----------- end party place area------- */
/* ----------- coming soon ara ----------- */
.coming_soon_area {
  display: flex;
  gap: 50px;
  align-items: center;
}
.coming_soon_left h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.coming_soon_left h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.coming_soon_left p,
.coming_soon_right_text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.coming_soon_img_area img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 50px;
}
.coming_soon_right_text h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.coming_soon_right_text img {
  margin-top: 40px;
}
/* ----------- end coming soon area------------- */
/* ----------- holyday sale area----------- */
.holyday_area {
  margin-top: 120px;
}
.holyday_container {
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
}
.holyday_container h5 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.holyday_container h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 28px;
}
.holyday_container span {
  color: #f00;
}
.holyday_container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.holyday_banar {
  background-image: url("../images/Rectangle 2.png"),
    url("../images/Rectangle 1.png");
  background-repeat: no-repeat;
  background-position: bottom right, top 50px right;
  position: relative;
}

.holyday_banar_content {
  margin-top: 64px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.discount {
  position: absolute;
  right: 277px;
  top: 100px;
}
/* -------- end holyday sale area */
/* --------- poftfolio area */
.portfolio_area {
  margin-top: 120px;
}
.portfolio_text {
  text-align: left;
  max-width: 850px;
}
.portfolio_text h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.portfolio_text h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio_text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.portfolio_image_area {
  margin-top: 48px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio_image_area .portfolio_image img {
	width: 100%;
	opacity: 0.5;
	cursor: pointer;
	transition: ease-in .5s;
}
.portfolio_image_area .portfolio_image img:hover {
  opacity: 1;
}
/* ---------- newsletter */
.newsletter {
  margin-top: 120px;
}
.newsletter_main {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  max-width: 896px;
  padding: 80px 200px;
}
.newsletter_text img {
  margin-bottom: 40px;
}
.newsletter_text h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.newsletter_text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
form {
  margin-top: 48px;
  display: inline-flex;
}
form input {
  padding: 25px 30px;
  border-radius: 50px 0 0 50px;
  border: none;
  width: 648px;
}
form button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 23px 56px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  transition: ease-in .5s;
}
form button:hover{
  background: #f00;
  background-color: rgb(80, 2, 2);
  border-radius: 0px 50px 50px 0px;
  color: #fff;
}
/* ------------ end newsletter ---------- */
/* -------- footer------ */
footer {
  margin-top: 120px;
  background: #070211;
  padding: 120px 140px;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.footer_top_left {
  width: 400px;
}
.footer_top_left p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer_top_right > li {
  list-style: none;
  margin-bottom: 8px;
}
.footer_top_right li a {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
.footer_top_right li img {
  margin-right: 16px;
  vertical-align: middle;
}
.footer_middle {
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.social_links {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 48px 0;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.footer_bottom h5,
.footer_bottom a {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.footer_bottom a{
  text-decoration: none;
}
/* -------- end footer ------ */
